[Chip]
# CAM Product Line
# Hi3516AV300|Hi3516CV500|Hi3516DV200|Hi3516DV300|Hi3516EV200|Hi3516EV300|Hi3518EV300|Hi3519AV100|
# Hi3520DV500|Hi3521DV200|Hi3531DV200|Hi3535AV100|Hi3536DV100|Hi3536EV100|Hi3556AV100|Hi3556V200|Hi3559AV100|
# Hi3559V200|Hi3562V100|Hi3566V100|Hi3568V100|Hi3569V100|SD3403V100

# HuangLong Product Line
# SHAOLINAXE|SHAOLINKNIVE|SHAOLINSWORD|SHAOLINGUN|WUDANGSTICK

# Joins Product Line
# Brandy

# MCU Product Line
# 3065HRPIRZ|3065HRPICZ|3061HRPIKZ

# Show Interactions Product Line
# hi3286

chipName=3061HRPIKZ

[Xml]
# true / false
xmlPathDefault=true
#filePath=D:\doc\3321\temp\emmc.xml
#filePath=D:\doc\MCU\allinone.bin
filePath=D:\doc\3321\fpga_wstp.fwpkg

[Local Config]
#COM1|COM2|/dev/ttyS0
serialPort=COM1
baudRate=115200
stopBit=0
parity=0
serverip=xxx.xxx.xxx.xxx

[Board Config]
ipaddr=xxx.xxx.xxx.xxx
netmask=xxx.xxx.xxx.x
gatewayip=xxx.xxx.xxx.x
udpport=5554
#ethaddr=xx:xx:xx:xx:xx:xx

[TFTP]
# true / false
portConfigurable=false
port=69
tftpTimeout=3

[Socket]
# true / false
isSocket=false
serialServerIp=xxx.xxx.xx.xxx
serialServerPort=10029

[Transmission mode]
#mode=serial|net|udp|UsbTransNet|jtag|JTAGAndSerial|JTAGAndNet|usb|USBAndSerial
#Tranmission mode for other partitions (The boot partition is downloaded by using the serial port.)
mode=serial
#Burn with USB turn-over true | false
usbToEthernet=false
#usb serial number
usbSerialNumber=0x000001

#usb-to-other transfer modes
#usbTransformsType=UsbToUsb|UsbToUart|UsbToI2c|UsbToSpi|UsbToCan|UsbToJtag|UsbToSwd
usbTransformsType=UsbToSpi
# i2c burn baudRate, 100k 100 | 400k 400
i2cBaudRate=400

#if you want to concurrent burning. set the USB device ID
usbDeviceNumber=-1

[JTAG Config]
# STBUSB2JTAG VER.B / VER.C Range of valid values 6M 6000 | 4M 4000 | 2M 2000 | 1M 1000
# STBUSB2JTAG VER.A Range of valid values 15M 15000 | 10M 10000 | 6M 6000 | 4M 4000 | 2M 2000 | 1M 1000
frequency=4000

[JTAG Setting]
# Hispark-Trace 0 | Hispark-Link 1
debugBoard=0
address=0x3000000

[Read]
readSize=0x3000

[Programmer]
#Programmer file path is empty by default, when the need to configure the CA chip.
isBurnProgrammer=true
programmer=

[Burn split image]
isSplit=false

[Common settings]
#true,false
openDebug=false
eraseBeforeBurn=false
resetBeforeBurn=false
splitFileSize=32
emmcDiskFormat=false
emmcWriteSpeed=3072
reboot=0
burnCheck=0

[Touch]
#Before burning the Touch, enter the image file to be burned
imageBin=
vctmBin=
touchBin=
